<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/websocket';
            var socket = io(namespace);
            socket.on('connect', function() {
                socket.emit('connection', {data: 'connected to the SocketServer...'});
            });
            socket.on('my_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('logs #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });
            $('form#save').submit(function(event) {
                socket.emit('save',{key:$('#emit_key').val(),value: $('#emit_value').val()});
                return false;
            });
        });
    </script>
</head>
<body style="background-color:white;">
    <form class="form-style-9" id="save" method="POST" action='#'>
        <ul>
            <li>
                <input id="emit_key" type="text" name="emit_key" class="field-style field-split align-left" placeholder="Key" />
            </li>
            <li>
                <textarea id="emit_value" name="emit_value" class="field-style" placeholder="Value"></textarea>
            </li>
            <li>
                <input type="submit" value="Send Monk" />
            </li>
        </ul>
    </form>
</body>
</html>